<h5>Criar/Editar Aluno</h5>
<!-- <form class="example-form"> -->
    <mat-form-field >
        <mat-label>Id</mat-label>
        <input matInput [(ngModel)]="aluno.id">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="aluno.nome" (input)="onInput()">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input matInput [(ngModel)]="aluno.email">
    </mat-form-field>
  
    
  <!-- </form> -->