<mat-toolbar color="primary">
    <button  routerLink="login" mat-button routerLinkActive="active" >Login</button>
    <button  routerLinkActive="active" mat-button routerLink="cursos" [queryParams]="{pagina:1}" >Cursos</button>
    <button  [routerLink]="['curso',idCurso.value]" mat-button>Curso com id</button>
    <button id="logo"  mat-button routerLink="" color="warn" >Rotas Angular</button> 
</mat-toolbar>
 

<mat-form-field color="warn">
    <input  matInput #idCurso placeholder="Entre com o id do curso">
</mat-form-field><br>

<router-outlet></router-outlet>
    

